.features{  
    background-color:var(--second-bg-color);
    padding: 40px 0;
    color:var(--main-color);
}
.features-list{ 
    display: flex;
    gap: 30px;
    justify-content: space-between;
}
.features__item{
    flex-basis: 236px;
    padding-top: 115px;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0.04em;
}

.features__item_one{
    background-image: var(--url-features-one);
    background-repeat:no-repeat;
    
}
.features__item_two{
    background-image: var(--url-features-two);
    background-repeat:no-repeat;
    
}
.features__item_three{
    background-image: var(--url-features-three);
    background-repeat:no-repeat;
 
}
.features__item_four{
    background-image: var(--url-features-four);
    background-repeat:no-repeat;
   
}

/*.features{
    height: 241px; 
    background-color: var(--second-bg-color); 
}
.features__list{   
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 115px;     
}
.features__item{
    width: 236px;
    height: 161px;
    align-items: center;
}



.visualle-hidden{
    display: none;
}*/
