.features{
    height: 241px; 
    background-color: var(--second-bg-color); 
}
.features__list{   
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 115px;     
}
.features__item{
    width: 236px;
    height: 161px;
    align-items: center;
}
.visualle-hidden{
    display: none;
}
